<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  
  <div class="page-header">
    <head>
      <% include ../helpers/navbar %>
  </head>
  
    <h1>Wishnu's Website</h1>
  </div>
  <div class="page-container">
    <div class="content-wraper"> 
      <p>Click on the button for a surprise.</p>

      <button onClick="showPicture()" class="btn btn-dark">Click me</button>

      <div id="image"></div>
    </div>
    
      
   
</div>

</div>
  
</body>
<footer class="bg-footer">
    
  <div>
    <p>
      Footer
    </p>

  </div>




</footer>



</html>